@page

@{
    Layout = "_AuthLayout";
}


@model BookingWeb.Pages.ConfirmationModel
@{ ViewData["Title"] = "Account Confirmation";}

<div id="right">
    <div class="jumbotron">
        <h1 class="display-4 text-center mb-3">Please, check your email for complete registration.</h1>
        <a asp-page="/Index">Go back</a>
    </div>
</div>