@page

@{
    Layout = "_AdminkaLayout";
}


@model BookingWeb.Pages.DeleteServiceModel
@{ ViewData["Title"] = "Delete Service";}

<div class="home-intro h-100 d-flex flex-column justify-content-end">

    <div class="container h-75">

        <div class="row h-100">

            <div class="col-6 d-flex flex-column justify-content-around">

                <div class="col-12">
                    <h1 class="text-primary">Service Deletion</h1>
                </div>

                <div class="col-8">
                    <h4 class="text-warning">@ViewData["message"]</h4>
                    <br />
                    <a asp-page="/Service" type="button" class="btn btn-primary btn-sm">Go back</a>
                </div>

            </div>

        </div>

    </div>

</div>