@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Booking.Net platform for business owners">
    <meta name="author" content="SeriousCoders">
    <title>Booking system</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />
    <!--BOOTSTRAP STYLE FILE-->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <script src="https://use.fontawesome.com/c87fad31f8.js"></script>
    <!--STYLE FOR IMAGE-->
    <style>
        html {
            position: relative;
        }

        html,
        body {
            height: 100%;
        }

        .home-intro {
            background: url('http://astylers.com/oya/images/bg-intro.png'), #f8f5ff;
            background-repeat: no-repeat;
            padding: 130px 0 150px !important;
            background-size: 55%;
            background-position: top right;
        }
    </style>
</head>

<body>

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <!--LOGO-->
            <a class="navbar-brand" asp-page="/Index"><img id="logo" src="~/booking.png" height="50" width="50" alt="LOGO"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <a class="navbar-brand nav-link text-primary" asp-page="/Index">Booking.NET</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#about">About us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#solutions">Our solutions</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" href="#contact">Contact us</a>
                    </li>

                </ul>

                <div class="d-flex">
                    <a class="btn btn-outline-primary mx-2" asp-page="/Login">Login</a>
                    <a class="btn btn-primary mx-2" asp-page="/Register">Sign Up</a>
                </div>

            </div>
        </div>
    </nav>

    <!--NAVBAR END-->

    <div class="home-intro h-100 d-flex flex-column justify-content-end">

        <div class="container h-75">

            <div class="row h-100">

                <div class="col-6 d-flex flex-column justify-content-around">

                    <div class="col-12">
                        <h1 class="text-primary">WELCOME TO BOOKING.NET</h1>
                    </div>

                    <div class="col-8">
                        <h4>Manage booking requests and analyze your clients needs. Booking system developed for business management</h4>
                    </div>

                    <div class="d-grid gap-2 w-50">
                        <a class="btn btn-lg btn-outline-primary" asp-page="/Register">Register your business</a>
                    </div>

                </div>

            </div>

        </div>

    </div>


    <!-- about -->
    <div class="about-section h-75 d-flex flex-column justify-content-around w-100 align-items-center" id="about">

        <div class="container">

            <div class="row h-25">

                <div class="col-12">
                    <h2 class="text-primary text-center justify-self-start">About us - Our Team</h2>
                </div>

            </div>

            <div class="row">

                <div class="col-12 text-center">
                    <img src="~/images/about_logo.png" alt="SeriousCoders">
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">

                    <div class="content">
                        <h5>Khassenov Sultanbek</h5>
                        <p class="mb-0">CEO, Architect, Team leader</p>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="content">
                        <h5>Toleu Rakhat</h5>
                        <p class="mb-0">Project Manager, Full stack dev.</p>
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="content">
                        <h5>Mazhit Magauiya</h5>
                        <p class="mb-0">Business Analyst, Full stack dev.</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end about -->
    <!--Solutions-->

    <div class="solutions-section h-75 d-flex flex-column justify-content-around w-100 align-items-center" style="background-color: #f8f5ff" id="solutions">

        <div class="container">

            <div class="row h-25">

                <div class="col-12">
                    <h2 class="text-primary text-center justify-self-start">We offer you</h2>
                </div>

            </div>

            <div class="row">

                <div class="col-4">

                    <div class="card text-primary border-secondary">
                        <div class="card-header">Mobile app</div>
                        <div class="card-body">
                            <h4 class="card-title">Android, IOS platforms</h4>
                            <p class="card-text">Booking.Net Mobile application allows your clients make reservations everywhere and everytime</p>
                            <br>
                            <br>
                            <br>
                            <div class="d-grid gap-2">
                                <a class="btn btn-lg btn-outline-primary">Download App</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">

                    <div class="card text-white bg-secondary">
                        <div class="card-header">Web platform</div>
                        <div class="card-body">
                            <h4 class="card-title">Convenient and fast way to book</h4>
                            <div class="col-12 text-center">
                                <img id="logo" src="~/booking.png" height="100" width="100" alt="LOGO">
                            </div>
                            <p class="card-text">Booking.Net is a platform where business owners can manage the booking requests</p>
                        </div>
                    </div>

                </div>

                <div class="col-4">

                    <div class="card text-primary border-secondary">
                        <div class="card-header">Booking analysis</div>
                        <div class="card-body">
                            <h4 class="card-title">Administration features</h4>
                            <p class="card-text">Booking.Net platform provides administration panel to manage everything related to reservation system</p>
                            <br>
                            <br>
                            <br>
                            <div class="d-grid gap-2">
                                <a class="btn btn-lg btn-outline-primary" asp-page="/Register">Try it</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--Solutions end-->
    <!--Contact us-->
    <div class="contact-section h-50 d-flex flex-column justify-content-around w-100 align-items-center" id="contact">

        <div class="container h-100">

            <div class="row h-25 mt-4">

                <h2 class="text-primary">Contact us</h2>
                <span>Let us know what to improve!</span>

            </div>

            <div class="row h-75">

                <div class="col-6">

                    <form asp-page-handler="SendFeedback" method="post">

                        <div class="row">

                            <div class="col-4">
                                <label for="email" class="form-label mt-4">Your email</label>
                            </div>

                            <div class="col-8">
                                <input type="email" class="form-control mt-2" id="email">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">
                                <label for="full-name" class="form-label mt-4">Full name</label>
                            </div>

                            <div class="col-8">
                                <input type="text" class="form-control mt-2" id="full-name">
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-4">
                                <label for="feedback-msg" class="form-label mt-4">Your message</label>
                            </div>

                            <div class="col-8">
                                <textarea class="form-control mt-2" id="feedback-msg" rows="3"></textarea>
                            </div>

                        </div>

                        <div class="d-grid gap-2 w-25">
                            <button class="btn btn-primary" type="button">Send Feedback</button>
                        </div>

                    </form>

                </div>

                <div class="col-6">

                    <div class="card border-primary mb-3">
                        <div class="card-header">Our contacts</div>
                        <div class="card-body">
                            <p class="card-text">
                            <p class="mt-1"><a href="https://github.com/Fring02/BookingSystem"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></p>
                            </p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <!--Contact us end-->

    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>
