@page

@{
    Layout = "_AdminkaLayout";
}


@model BookingWeb.Pages.ServiceModel
@{ ViewData["Title"] = "Service Management";}

<div id="general-info">
    <h4 class="text-center">Profile Details</h4>
    <br><br>
    @foreach(var service in Model.serviceModel.Services)
    {
        @service.Name;
    }
</div>
